h1 {
  color: #FF0000;
}

p {
  text-align: justify;
  
}

.col-sm-6 ul li {
  color: black;
  list-style: none;
}

nav {
  width: 16%;
}

nav ul {
  margin-left: 9px;
}

.link-button a {
  display: inline-block;
  padding: 8px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #00000099;
  text-decoration: none;
  transition: all 0.5s;
}

.text-muted li {
  color: black;
  font-size: large;
  list-style: none;
}

.slides .slide img {
  width: unset;
}

.col-sm-12 ul li {
  color: black;
  list-style: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.right-content li {
  color: black;
  list-style: none;
}

.col-sm-12 .text-muted li {
  color: black;
  list-style: none;
}

.slides .slide .content {
  left: 17%;
  width: 82%;
  background-color: #ffffffeb; 
}

.dist-li{
    margin: unset;
    padding: unset;
    color: #00000099;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: justify;
    padding-bottom: 15px;
    margin-left: 20px; 
}


.pulse {
  border-radius: 50%;
  display: block;
  width: 64px;
  height: 64px;
  animation: pulse 2s infinite;
  background-image: url('../img/down.svg');
}

.pulse-1 {
  display: block;
  animation: pulse 2s infinite;
}

/* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */

@-webkit-keyframes pulse {
  0% {
     -webkit-box-shadow: 0 0 0 0 rgba(32, 31, 31, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(32,31,31, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(32,31,31, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(32,31,31, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(32,31,31, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(32,31,31, 0);
      box-shadow: 0 0 0 0 rgba(32,31,31, 0);
  }
}

.nav-ul-dist{
    margin-top: 50px;
    height: auto; 
}

.nav-li-dist{
  padding-bottom: 15px;
}

.color_lista {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 20px;
}
.cuadrar_img{
  display: block;
  margin: auto;
  width: 60%;
}
.alinear{
  text-align: center;
}

.picture {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(32, 31, 31, 0.1);
  height: auto;
  padding-top: 20px;
}

.boton:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.div{
  color: #e7efde;
  color: #8a8894 ;
  color: #ece4e1;
  color: #e9d98e ;
  color: #9cb950;
  color: #7db2b1;
}
/*# sourceMappingURL=estilos.css.map */
