$color_1: #FF0000;
$color_2: #FFFFFF;


h1 {
	color: $color_1;
}

h3 {
	color: $color_2;
}

.titulo{
	text-align: center;
}
p {
	text-align: justify;
}
.col-sm-6 {
	ul {
		li {
			color: $color_2;
			list-style: none;
			font-size: 16px;
		}
	}
}

nav{
	width: 16%;
}

nav ul{
	margin-left: 9px;
}

nav ul li i{
	display: none;
}

.link-button a{
	display: inline-block;
    border: 2px solid #fff;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.text-muted li{
	color: white;
	font-size: large;
	list-style: none;
}

.slides .slide img{
	width: unset;
}

.col-sm-12 {
	ul {
		li {
			color: $color_2;
			list-style: none;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.right-content{
	li{
		color: $color_2;
		list-style: none;
		font-size: 20px;
	}
}

.col-sm-12{
	.text-muted {
		li {
			color: $color_2;
			list-style: none;
		}
	}
}

.slides {
	.slide {
		.content {
			left: 17%;
			width: 82%;
		}
	}
}

.picture{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 6px 6px 0px black;
    height: auto;
    padding-top: 20px;
}

.boton:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}


@media(max-width: 740px) {
	nav ul li i {
		display: initial;
	}
}